<div class="container wrapper-container">

  <div class="panel panel-default">

    <div class="panel-body wrapper-panel">

      <div class="panel-body">
        <label>Add New Users:
          <input #addName />
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="onAdd(addName.value); addName.value=''">
          [Add]
        </button>
      </div>

    </div>

<div class="wrapper-buttons">
  <button class="" title="edit hero" (click)="onEditAll()">[Edit ALL]</button>
  <button class="" title="edit hero" (click)="onDeleteAll()">[Delete ALL]</button>
</div>



    <div class="panel-body  wrapper-inner">
        <div class="text-center">

          <span>
            <input #saveName />
          </span>
          <span class="btn button">
            <button class="btn save" (click)="onAdd(saveName.value); saveName.value=''">
            Save
            </button>
          </span>

          <ul class="heroes">
            <li *ngFor="let hero of heroes">
              <p>
                {{hero.name}}
              </p>
              <button class="btn button delete" title="edit hero" (click)="onEdit(hero)">[Edit]</button>
              <button class="btn button delete" title="delete hero" (click)="onDelete(hero)">[Delete]</button>
            </li>
          </ul>

        </div>
    </div>

  </div>
</div>