<div class="container wrapper-container">

  <div class="panel panel-default">

    <div class="panel-body wrapper-panel">

      <div class="panel-body">
        <label>Add New Users:
          <input #addName />
        </label>
        <button class="btn button" (click)="onAdd(addName.value); addName.value=''">[ Add ]</button>
      </div>

    </div>

    <div class="wrapper-buttons">
      <button class="btn button" title="edit all" (click)="onEditAll()">[ Edit ALL ]</button>
      <button class="btn button" title="delete all" (click)="onDeleteAll()">[ Delete ALL ]</button>
    </div>

    <div class="panel-body  wrapper-inner">
        <div class="text-center">

          <div class="wrapper-input">
             <span>
              <input #saveName />
             </span>
              <button class="btn button save" (click)="onAdd(saveName.value); saveName.value=''">[ Save ]</button>
          </div>


          <ul class="names" *ngIf="names">
            <li *ngFor="let name of names">
              <p>
                {{name.name}}
              </p>
              <button class="btn button delete" title="edit" (click)="onEdit(name)">[ Edit ]</button>
              <button class="btn button delete" title="delete" (click)="onDelete(name)">[ Delete ]</button>
            </li>
          </ul>

        </div>
    </div>

  </div>
</div>
