.names {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 5px;
  width: 15em;
}
.names li {
  position: relative;
  cursor: pointer;
  background-color: #eee;
  margin: .5em;
  padding: .3em 0;
  height: 30px;
  border-radius: 4px;
}
.names a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}
.names .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  margin: 5px;
}
button.delete {
  position: relative;
  left: 194px;
  top: -52px;
  background-color: #ededed;
}
.wrapper-name {
  border: 1px solid #9cd06d;
  padding: 5px;
}
.wrapper-name a span {
  float: left;
}
.wrapper-name.input > label {
 
}
.wrapper-name > button {
  text-align: right;
}
.wrapper-input {
  padding: 20px 20px 20px 10px;
  text-align: left;
}
.wrapper-buttons {
  text-align: left;
  border-top: 1px solid;
  padding: 20px 20px 20px 20px;
}
.wrapper-buttons button {
  padding: 5px;
  margin: 5px;
}
.panel-body {
  padding: 20px 20px 20px 15px;
  text-align: left;
}
.panel-body.wrapper-inner {
  border-top: 1px solid;
}
.wrapper-container {
  padding: 0;
  border-left: 1px solid;
  border-right: 1px solid;
}
